.login-container{
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.login-error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}
.error{
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: block;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
}
.success{
    color: green;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: block;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
}