.navbar{
    background-color: #f8f9fa;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.navbar li{
    display: inline;
    margin-right: 1.5rem;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;

}

.h3{
    text-align: center;
    margin-top: 5rem;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.logo{
    height: 50px;
    margin-right: 1rem;

}

.temporaly-message{
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}